.env
.venv
.git
.cache
__pycache__
*.pyc
*.sqlite3
.pytest_cache
.ruff_cache
artifacts
staticfiles
tests
postman
pytest-cache-files-*

frontend/node_modules
frontend/dist
frontend/test-results
frontend/playwright-report
